/* wors sens fronts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700;1,800;1,900&display=swap');
/* shared styles */

* {
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Work Sans', sans-serif;

}
.text-light-gray{
  color:#727272;

}

                /* header styles */
  .btn-primary{
    border-radius: 8px;
    color: #fff;
    font-size:1.25;
    background-color: #ff900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

 }  
 .section-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}            

  header{
    background-color: rgb(255,144,14,0.10) ;
    padding: 50px 240px;
}    
  nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
  } 

  nav > ul {
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size:1rem;

}
nav li a{
    text-decoration: none;
    color:#424242 ;
}
                        /* banner styles */
 .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner-title{
    font-size: 64px;
    font-weight: 700px;
    color:#131313
 }
 .banner-description{
    color: 
    #727272;
 }
 .arcitact-img {
  width: 100%;
 }
 .architect-img{
  width: 100%;
  padding-left: 50px;
}
/* features desing areas */

.features-design{
  display: flex;

.features-design div{
  width: 50%;
}

.features-design{
  margin: 0 auto;
  width: 100%;

  gap:40px;
}

.features-first-text{
  color: var(--dark-03, #727272);
  margin: 70px 0px 60px 50px;
  justify-content: center;
  align-items: center;
  

}
.text-one{
  color: var(--dark-03, #727272);
  margin: 70px 0px 60px 50px;
  justify-content: center;
  align-items: center;
}
.text-two{
  color: var(--dark-03, #727272);
  margin: 70px 0px 60px 50px;
  justify-content: center;
  align-items: center;
}
.text-three{
  color: var(--dark-03, #727272);
  margin: 70px 0px 60px 50px;
  justify-content: center;
  align-items: center;
}
.text-four{
  color: var(--dark-03, #727272);
  margin: 70px 0px 60px 50px;
  justify-content: center;
  align-items: center;
  text-align: 100px;
}

/* sponsor image */
.sponsor-img{
  display: flex;
  justify-content: space-between;
}
 
/* main styles */
main{
  max-width: 1440px;
  margin: 0 auto;

}
/* teams-styles */
.teams-container{
  display: flex;
  align-items: center;
}

.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
} 
 
.teams-content{
  padding-left: 70px;
  padding-right: 70px;

}
.teams-title{
  font-size:2.8rem;
}
.teams-title .text-light-gray{
  color:#727272;
  font-weight: 500;

}
.teams-title .text-features{
  color:#ff900E

}

  /* facts section */
 

  .facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900E;
  }
  

.facts-card-container{
  display: flex;
  justify-content: space-around;
  
  
 }

.facts-card-container .cards-title{
  font-size: 5rems;
    
  }
  /* sponsor section */


  .sponsor-img{
    display: flex;
    justify-content:space-between;
  }
  .sponsor-text{
     padding-top:100px;
     padding-bottom: 60px;
    margin: 0 auto;
    width: 50%;
    background-color:#fff;
    justify-content: center;
    text-align: center;

}

.sponsor-title{
  
  margin: 0 auto;
  text-align: center;
  width: 327px;
height: 57.519px
font-size: 45px;
font-weight: 700;
}
.sponsor-text p{
  font: 16px;
}











/* responsive media quaries */
 /* mobile devices */
 @media screen and (max-width: 576px)  {
  header{
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsor-img{
    flex-direction: column;
  }
  .sponsor-img{
    font-size: 15px;
  }
  .facts{
    padding-left: 30px;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  
  } 
  .architect-img{
    width: 100%;
    padding-left: 50px;
  }



/* table or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
  header{
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  
}
.architect-img{
  width: 80%;
  padding-left: 50px;
}
 }